$bg-color: #1a1a1a; /* Grigio Molto Scuro */
$second-bg-color: #303030; /* Grigio Medio Scuro */
$text-color: #e6e6e6; /* Grigio Chiaro */
$main-color: #ff4081; /* Rosa Neon */
$main-color-darken: darken($main-color, 10%);

.footer {
    text-align: center;
    padding: 1rem;
    background: $bg-color;
    border-radius: 5px 5px 0 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Assicura che il footer sia sempre sopra altri elementi */

    p {
        color: $text-color;
        margin: 0;
        font-size: 1.5rem;
    }

    a {
        color: $main-color;
        margin: 0 1rem;
        font-size: 1.5rem;
        transition: color 0.3s;

        &:hover {
            color: $main-color-darken;
        }
    }
}
