<header class="header">
    <a href="#" class="logo"
        >FitFlow. <span class="animate" style="--i: 1"></span
    ></a>
    <div class="bx bx-menu" id="menu-icon">
        <span class="animate" style="--i: 2"></span>
    </div>
    <nav class="navbar">
        <div>
            <a routerLink="/home" class="active">Home</a>
            <a routerLink="/guest">Dashboard</a>
            <a routerLink="/registra-attivita">Activities</a>
            <a routerLink="/progresso">Progress</a>
            <a routerLink="/profile" *ngIf="isLoggedIn">Account</a>
            <a routerLink="/login" *ngIf="!isLoggedIn">Login</a>
            <a routerLink="/register" *ngIf="!isLoggedIn">Register</a>
        </div>
        <span class="active-nav"></span>
        <span class="animate" style="--i: 2"></span>
    </nav>
</header>
